Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    core:
      target: auto
      paths:
        - modules/core
    statics:
      target: auto
      paths:
        - modules/statics
    account-lib:
      target: auto
      paths:
        - modules/account-lib
    express:
      target: auto
      paths:
        - modules/express
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

Fixed recover of previous signature, fixed wallet init constructor
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
Due: account-lib

BGA-297 Fix tx body
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
Due: account-lib

Fixed add signature
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
Due: account-lib

Removed proto, proto scripts, minor cleanup
  modules/account-lib/package.json
  modules/account-lib/resources/hbar/protobuf/BasicTypes.proto
  modules/account-lib/resources/hbar/protobuf/CryptoCreate.proto
  modules/account-lib/resources/hbar/protobuf/CryptoTransfer.proto
  modules/account-lib/resources/hbar/protobuf/Duration.proto
  modules/account-lib/resources/hbar/protobuf/Timestamp.proto
  modules/account-lib/resources/hbar/protobuf/Transaction.proto
  modules/account-lib/resources/hbar/protobuf/TransactionBody.proto
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
Due: account-lib

Modified wallet init comparison test due to SDK integration
  modules/account-lib/test/resources/hbar/hbar.ts
Due: account-lib

Fixed PR comments
  modules/account-lib/src/coin/hbar/ifaces.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
Due: account-lib

BGA-297 Replace values for constants
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
Due: account-lib

BGA-297 Serealize from constructor
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
Due: account-lib

BGA-297 Add unit test and fix raw tx validation
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/walletInitialization.ts
Due: account-lib

Fixed more PR comments
  modules/account-lib/src/coin/hbar/ifaces.ts
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
Due: account-lib

Changed core module to be compatible with new KeyPair implementation
  modules/core/src/v2/coins/hbar.ts
Due: bitgo

Add blockchair as btc block explorer
  modules/core/src/v2/environments.ts
Due: bitgo

Call blockchair for getAddressInfoFromExplorer
  modules/core/src/v2/coins/btc.ts
Due: bitgo

Update yarn unit test instruction in DEVELOPER.md
  DEVELOPERS.md
Due: none

Run unit tests on all events, fix drone config drift
  .drone.jsonnet
  .drone.yml
Due: none

Temporarily disable integration tests due to testnet instability
  .drone.jsonnet
  .drone.yml
Due: none

Set .drone.yml to read only after generating
  package.json
Due: none

Use blockchair in getUnspentInfoFromExplorer
  modules/core/src/v2/coins/btc.ts
Due: bitgo

Add nocks for blockchair address/ responses
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

Add nock for coingecko
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

Use smartbit for verifyRecoveryTx
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/environments.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

Improve error handling if blockexplore is offline
  modules/core/src/errors.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
Due: bitgo

Fix comments and style issues
  modules/core/src/v2/coins/btc.ts
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

Use blockchair for btcSegwitRecovery nock
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

Add nocks for btc unsigned recovery
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

Simplify nocks with a variable for repeated code
  modules/core/test/v2/lib/recovery-nocks.ts
Due: bitgo

Move static data to fixtures
  modules/core/test/v2/fixtures/coins/abstractUtxoCoin.ts
  modules/core/test/v2/fixtures/coins/recovery.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
Due: bitgo

Test that we handle smartbit offline elegantly
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/btc.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

BGA-230 Add unit test
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/utils.ts
Due: account-lib

Remove internal publish drone step
  .drone.jsonnet
  .drone.yml
Due: none

Add gasPrice param to addWallet
  modules/core/src/v2/wallets.ts
  modules/core/test/v2/unit/wallets.ts
Due: bitgo

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

BGA-297 Add N and auto renw period constants
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
Due: account-lib

Added check for duplicate keys when signing with precalculated signatures
  modules/account-lib/src/coin/hbar/transaction.ts
Due: account-lib

BGA-297 Identify the recipient account
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
Due: account-lib

Added toJson implementation to calculate the recipient address
  modules/account-lib/src/coin/hbar/transaction.ts
Due: account-lib

Added validate signature method
  modules/account-lib/src/coin/hbar/utils.ts
Due: account-lib

Add grpc proto-loader to bitgojs explicitly
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

BGA-320 Add unit and fix unit messages
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/test/unit/coin/hbar/utils.ts
Due: account-lib
