Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: core, account-lib, statics, express

Fix codecov flags, they must match package name
  .codecov.yml
Due: none

Check for .nyc_output directory before generating coverage report
  modules/account-lib/package.json
Due: account-lib

Properly quote strings in codecov.yml
  .codecov.yml
Due: none

Merge coverage reports in root before uploading
  .drone.jsonnet
  .gitignore
  merge-coverage-reports.js
  modules/account-lib/package.json
  modules/core/package.json
  package.json
  yarn.lock
Due: core, account-lib

Fix root npm scripts and regenerate .drone.yml
  .drone.yml
  package.json
Due: none

Fix flag paths in codecov.yml
  .codecov.yml
Due: none

Use paths instead of flags for coverage statuses
  .codecov.yml
Due: none

Disable codecov status, configure comment
  .codecov.yml
Due: none

Remove unnecessary files
  modules/account-lib/.codecov.yml
  modules/account-lib/.drone.yml
  modules/account-lib/CODEOWNERS
  modules/account-lib/package-lock.json
Due: account-lib

Update CODEOWNERS and merge account lib codeowners
  CODEOWNERS
Due: none

Remove publish script, use root types
  modules/account-lib/scripts/publish.sh
  modules/account-lib/tsconfig.json
  modules/account-lib/types/bitgo-utxo-lib/index.d.ts
Due: account-lib

Remove generated files and add to .gitignore
  modules/account-lib/resources/trx/protobuf/tron.d.ts
  modules/account-lib/resources/trx/protobuf/tron.js
Due: none

Remove npmignore, add files to package.json
  modules/account-lib/.npmignore
  modules/account-lib/package.json
Due: account-lib

Fix build script
  modules/account-lib/package.json
Due: account-lib

Add TDAI to TERC20 tokens
  modules/statics/src/coins.ts
Due: none

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: core, statics, express

Splitting keypair class into secp and ed based keycurves
  src/coin/baseCoin/baseKeyPair.ts
  src/coin/baseCoin/ed25519KeyPair.ts
  src/coin/baseCoin/secp256k1ExtendedKeyPair.ts
  src/coin/eth/keyPair.ts
  src/coin/trx/keyPair.ts
  src/coin/xtz/keyPair.ts
Due: none

Improve failing test for testnet tokens
  modules/core/test/unit/bitgo.ts
Due: none

Changing keypair classes
  src/coin/baseCoin/baseKeyPair.ts
  src/coin/baseCoin/ed25519KeyPair.ts
  src/coin/baseCoin/errors.ts
  src/coin/baseCoin/secp256k1ExtendedKeyPair.ts
  src/coin/xtz/keyPair.ts
Due: none

Change CGLD to CELO
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/celo.ts
  modules/core/src/v2/coins/index.ts
  modules/core/src/v2/coins/tcelo.ts
  modules/core/test/v2/unit/coins/abstractEthCoin.ts
  modules/core/test/v2/unit/coins/celo.ts
  modules/core/test/v2/unit/coins/cgld.ts
  modules/statics/src/account.ts
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
  modules/statics/src/networks.ts
Due: none

Print free fs and memory with build info
  .drone.yml
Due: none

Change CGLD to CELO
  README.md
  package-lock.json
  package.json
  resources/trx/protobuf/tron.js
  src/coin/celo/index.ts
  src/coin/celo/resources.ts
  src/coin/celo/stakingBuilder.ts
  src/coin/celo/stakingCall.ts
  src/coin/celo/stakingUtils.ts
  src/coin/celo/transaction.ts
  src/coin/celo/transactionBuilder.ts
  src/coin/celo/transferBuilder.ts
  src/coin/celo/types.ts
  src/coin/celo/utils.ts
  src/coin/eth/utils.ts
  src/index.ts
  test/resources/celo/celo.ts
  test/unit/coin/celo/stakingBuilder.ts
  test/unit/coin/celo/transaction.ts
  test/unit/coin/celo/transactionBuilder/addressInitialization.ts
  test/unit/coin/celo/transactionBuilder/send.ts
  test/unit/coin/celo/transactionBuilder/staking.ts
  test/unit/coin/celo/transactionBuilder/walletInitialization.ts
  test/unit/coin/eth/transferBuilder.ts
Due: none

Add support for flush tokens transactions
  src/coin/baseCoin/enum.ts
  src/coin/eth/iface.ts
  src/coin/eth/transactionBuilder.ts
  src/coin/eth/utils.ts
  src/coin/eth/walletUtil.ts
  test/unit/coin/eth/transactionBuilder/flushTokens.ts
Due: none

Add Comments
  src/coin/eth/transactionBuilder.ts
Due: none

Bump version to 2.0.0-rc.0
  package-lock.json
  package.json
Due: none

Update Bitgo-account-lib to 2.0.0-rc.0
  modules/core/package.json
  modules/core/src/v2/coins/celo.ts
  modules/core/test/v2/unit/coins/abstractEthCoin.ts
  yarn.lock
Due: core

Update release notes
  modules/core/RELEASE_NOTES.md
  modules/express/RELEASE_NOTES.md
Due: core, express

Update documentation link in README
  modules/core/README.md
Due: core

Update node version support policy with latest information
  README.md
Due: none

Update yarn.lock
  yarn.lock
Due: none

Fix ETH Clones signatures
  src/coin/celo/transactionBuilder.ts
  src/coin/etc/transactionBuilder.ts
  src/coin/eth/transactionBuilder.ts
  src/coin/eth/transferBuilder.ts
  src/coin/eth/utils.ts
  src/coin/rbtc/transactionBuilder.ts
  test/resources/celo/celo.ts
  test/unit/coin/celo/transactionBuilder/send.ts
Due: none

Bump account lib to 2.0.0-rc.1
  package-lock.json
  package.json
Due: none

Fix ETH Clones signatures
  modules/account-lib/src/coin/celo/transactionBuilder.ts
  modules/account-lib/src/coin/etc/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transactionBuilder.ts
  modules/account-lib/src/coin/eth/transferBuilder.ts
  modules/account-lib/src/coin/eth/utils.ts
  modules/account-lib/src/coin/rbtc/transactionBuilder.ts
  modules/account-lib/test/resources/celo/celo.ts
  modules/account-lib/test/unit/coin/celo/transactionBuilder/send.ts
Due: none

Update bitgo-account-lib to 2.0.0-rc.1 in sdk
  modules/core/package.json
  modules/core/test/v2/unit/coins/abstractEthCoin.ts
  yarn.lock
Due: core

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: core, account-lib, express

Remove "files" publish restriction from package.json
  modules/account-lib/.npmignore
  modules/account-lib/package.json
Due: account-lib

Path conditions:
  core: any of: modules/core/*
  account-lib: any of: modules/account-lib/*
  statics: any of: modules/statics/*
  express: any of: modules/express/*
