Repository BitGo/BitGoJS: changes, and which Codecov flags are due for each by the changed paths.
All: bitgo, account-lib, statics, express

.codecov.yml:

coverage:
  status:
    core:
      target: auto
      paths:
        - modules/core
    statics:
      target: auto
      paths:
        - modules/statics
    account-lib:
      target: auto
      paths:
        - modules/account-lib
    express:
      target: auto
      paths:
        - modules/express
flags:
  bitgo:
    paths:
      - modules/core
  account-lib:
    paths:
      - modules/account-lib
  statics:
    paths:
      - modules/statics
  express:
    paths:
      - modules/express

Upgrade packages of @taquito library for XTZ
  modules/account-lib/package.json
  yarn.lock
Due: account-lib

Revert "Revert "Fixed toJson usage in core module""
  modules/core/test/v2/unit/coins/hbar.ts
Due: bitgo

Revert "Revert "BGA-297 Compose transaction/transactionBuilder for HBAR using""
  modules/account-lib/package.json
  modules/account-lib/resources/hbar/protobuf/BasicTypes.proto
  modules/account-lib/resources/hbar/protobuf/CryptoCreate.proto
  modules/account-lib/resources/hbar/protobuf/CryptoTransfer.proto
  modules/account-lib/resources/hbar/protobuf/Duration.proto
  modules/account-lib/resources/hbar/protobuf/Timestamp.proto
  modules/account-lib/resources/hbar/protobuf/Transaction.proto
  modules/account-lib/resources/hbar/protobuf/TransactionBody.proto
  modules/account-lib/src/coin/hbar/ifaces.ts
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/hbar/utils.ts
  modules/core/src/v2/coins/hbar.ts
Due: bitgo, account-lib

Revert "Revert "BGA-324 Update toJson method""
  modules/account-lib/src/coin/hbar/ifaces.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/walletInitialization.ts
Due: account-lib

Revert "Revert "BGA-324 Set body to be mandatory""
  modules/account-lib/src/coin/hbar/ifaces.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
Due: account-lib

BGA-343 Fix keypair unit test
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
Due: account-lib

Fix imports and improve style
  modules/core/src/v2/coins/btc.ts
  modules/core/test/v2/fixtures/coins/recovery.ts
  modules/core/test/v2/unit/coins/abstractUtxoCoin.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

chore(release): publish modules
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, express

Do not throw if bitcoinfee does not respond
  modules/core/src/v2/coins/btc.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

Adding support for memoId in HBAR addresses
  modules/account-lib/src/coin/hbar/utils.ts
  modules/core/src/v2/coins/hbar.ts
  modules/core/test/v2/unit/coins/hbar.ts
Due: bitgo, account-lib

Update EOS testnet explorer URL
  modules/statics/src/networks.ts
Due: statics

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
Due: bitgo, account-lib, express

BGA-18 Add unit test for RSK transfer token
  modules/account-lib/package.json
  modules/account-lib/test/resources/rbtc/rbtc.ts
  modules/account-lib/test/unit/coin/rbtc/transactionBuilder/send.ts
Due: account-lib

Fixing npm audit failures in master
  package.json
  yarn.lock
Due: none

Add cusd to SDK configs Ticket: BG-24044
  modules/core/src/config.ts
  modules/core/src/v2/coinFactory.ts
  modules/core/src/v2/coins/celoToken.ts
  modules/core/src/v2/coins/index.ts
  modules/core/test/browser/browser.spec.ts
  modules/core/test/v2/unit/coins/celoToken.ts
Due: bitgo

BGA-371 Add shard and realm to node and from accounts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
Due: account-lib

Add comment for the use of txCount in recovery
  modules/core/src/v2/coins/abstractUtxoCoin.ts
Due: bitgo

Refactor blockchair url to take coin as a param
  modules/core/src/v2/environments.ts
  modules/core/src/v2/recovery/blockchairApi.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

Add tests and nocks for BSV recoveries
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/test/v2/fixtures/coins/recovery.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery.ts
Due: bitgo

Add blockchair as bsv explorer
  modules/core/src/v2/coins/bsv.ts
  modules/core/src/v2/recovery/blockchairApi.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery/blockchairApi.ts
Due: bitgo

Make coin a required param for blockchair API
  modules/core/src/v2/coins/bsv.ts
  modules/core/src/v2/recovery/blockchairApi.ts
  modules/core/test/v2/unit/recovery/blockchairApi.ts
Due: bitgo

getExplorerUrl generates url based on env
  modules/core/src/v2/recovery/blockchairApi.ts
Due: bitgo

Take out blockchair in environment
  modules/core/src/v2/coins/btc.ts
  modules/core/src/v2/environments.ts
  modules/core/src/v2/recovery/blockchairApi.ts
  modules/core/test/v2/lib/recovery-nocks.ts
  modules/core/test/v2/unit/recovery/blockchairApi.ts
Due: bitgo

Resolve signTransaction bug cusd Ticket: BG-24642
  modules/core/src/v2/coins/celoToken.ts
  modules/core/test/v2/unit/coins/celoToken.ts
Due: bitgo

Replace usages of new Buffer() with Buffer.from()
  modules/account-lib/src/coin/baseCoin/secp256k1ExtendedKeyPair.ts
  modules/account-lib/src/coin/eth/transferBuilder.ts
  modules/account-lib/src/coin/xtz/keyPair.ts
  modules/account-lib/src/coin/xtz/utils.ts
  modules/account-lib/src/utils/crypto.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
  modules/account-lib/test/unit/coin/xtz/util.ts
  modules/core/src/bitcoin.ts
  modules/core/src/bitgo.ts
  modules/core/src/ripple.ts
  modules/core/src/transactionBuilder.ts
  modules/core/src/v2/coins/abstractUtxoCoin.ts
  modules/core/src/v2/coins/eth.ts
  modules/core/src/v2/coins/xtz.ts
  modules/core/src/v2/internal/util.ts
  modules/core/src/v2/recovery.ts
  modules/core/test/integration/keychains.ts
  modules/core/test/unit/hdnode.ts
  modules/core/test/v2/unit/coins/abstractEthCoin.ts
  modules/core/test/v2/unit/coins/xlm.ts
  modules/core/test/v2/unit/coins/xtz.ts
Due: bitgo, account-lib

Rebase reimplement sdk refactor
  modules/account-lib/package.json
  modules/account-lib/resources/hbar/protobuf/BasicTypes.proto
  modules/account-lib/resources/hbar/protobuf/CryptoCreate.proto
  modules/account-lib/resources/hbar/protobuf/CryptoTransfer.proto
  modules/account-lib/resources/hbar/protobuf/Duration.proto
  modules/account-lib/resources/hbar/protobuf/Timestamp.proto
  modules/account-lib/resources/hbar/protobuf/Transaction.proto
  modules/account-lib/resources/hbar/protobuf/TransactionBody.proto
  modules/account-lib/src/coin/hbar/ifaces.ts
  modules/account-lib/src/coin/hbar/keyPair.ts
  modules/account-lib/src/coin/hbar/transaction.ts
  modules/account-lib/src/coin/hbar/transactionBuilder.ts
  modules/account-lib/src/coin/hbar/transactionBuilderFactory.ts
  modules/account-lib/src/coin/hbar/transferBuilder.ts
  modules/account-lib/src/coin/hbar/utils.ts
  modules/account-lib/src/coin/hbar/walletInitializationBuilder.ts
  modules/account-lib/test/resources/hbar/hbar.ts
  modules/account-lib/test/unit/coin/hbar/keyPair.ts
  modules/account-lib/test/unit/coin/hbar/transaction.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/transferBuilder.ts
  modules/account-lib/test/unit/coin/hbar/transactionBuilder/walletInitialization.ts
  modules/account-lib/test/unit/coin/hbar/utils.ts
  modules/core/src/v2/coins/hbar.ts
  modules/core/test/v2/unit/coins/hbar.ts
Due: bitgo, account-lib

chore(release): publish modules
  modules/account-lib/package.json
  modules/core/package.json
  modules/express/package-lock.json
  modules/express/package.json
  modules/statics/package.json
Due: bitgo, account-lib, statics, express

Update SDK to bitgo@^11.5.0
  modules/express/package-lock.json
Due: express

Address commets
  modules/core/src/v2/coins/bsv.ts
  modules/core/test/v2/unit/recovery/blockchairApi.ts
Due: bitgo

Add helper to allow pubkey validation
  modules/core/src/v2/coins/hbar.ts
  modules/core/test/v2/unit/coins/hbar.ts
Due: bitgo

Update yarn.lock
  yarn.lock
Due: none

Use backupkeynonce if signingKeyNonce is missing
  modules/core/src/v2/coins/eth.ts
  modules/core/test/v2/unit/ethWallet.ts
Due: bitgo

Add tokens to statics Ticket: BG-24677
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics

Add uni Ticket: BG-24677
  modules/statics/src/base.ts
  modules/statics/src/coins.ts
Due: statics
